.ad-preview-container {
  padding: 30px;
  margin: auto;
  width: 100%;

  .ad-creative-table {
    margin: auto;
    padding: 30px;
  }

  .iframe-views {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .view-select-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
  }

  .radio-select {
    display: flex;
    flex-direction: column;

    .radio-input {
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }
}

iframe {
  background: #000;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  border: none;
  height: 100vh;
}

Button {
  margin-bottom: 10px;
}
