.scrolling-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
}

.view-select-container {
  display: flex;
  flex-direction: row;
}

.radio-select {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .radio-input {
    padding-right: 10px;
  }
}
